<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.tjspring.study.dao.SidebarDao">
    <select id="getStudyInfo" resultType="com.ex.tjspring.study.dto.SidebarDto">
        SELECT
            group_id AS id,
            group_name As name,
            category,
            contact
        FROM study_groups
        WHERE group_id = #{groupId}

    </select>
</mapper>