<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.tjspring.user.mapper.UserMapper">

    <!-- ResultMap 정의 - 데이터베이스 컬럼과 Java 객체 필드 매핑 -->
    <resultMap id="userResultMap" type="com.ex.tjspring.user.model.User">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
        <result property="globalRole" column="global_role"/>
        <result property="profileImage" column="profile_image"/>
        <result property="introduction" column="introduction"/>
        <result property="userLevel" column="user_level"/>
    </resultMap>

    <!--  insertUser - 사용자 생성  -->
    <insert id="insertUser" parameterType="com.ex.tjspring.user.model.User" keyProperty="id" keyColumn="id">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT SEQ_USERS_ID.CURRVAL FROM dual
        </selectKey>
        INSERT INTO users
        (user_id, password, email, nickname)
        VALUES
        (#{userId}, #{password}, #{email}, #{nickname})
    </insert>

    <!-- findById - uid(PK 값)로 사용자 찾기 -->
    <select id="findById" parameterType="long" resultMap="userResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <!-- findByUserId - 로그인 ID로 사용자 찾기 - resultMap 사용 -->
    <select id="findByUserId" parameterType="string" resultMap="userResultMap">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>

    <select id="findByEmail" parameterType="string" resultMap="userResultMap">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <select id="findByNickname" parameterType="string" resultMap="userResultMap">
        SELECT * FROM users WHERE nickname = #{nickname}
    </select>

    <!-- 비밀번호 찾기용 - userId와 email로 사용자 조회 -->
    <select id="findByUserIdAndEmail" resultMap="userResultMap">
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId} AND EMAIL = #{email} AND IS_DELETED = 'N'
    </select>

    <!-- 비밀번호 업데이트 -->
    <update id="updatePasswordById">
        UPDATE USERS
        SET PASSWORD = #{password}
        WHERE ID = #{id} AND IS_DELETED = 'N'
    </update>

    <!-- updateUser - 사용자 정보 업데이트 (중복 제거 및 통합) -->
    <update id="updateUser" parameterType="com.ex.tjspring.user.model.User">
        UPDATE users
        SET
        nickname = #{nickname},
        introduction = #{introduction}
        <if test="profileImage != null">
            , profile_image = #{profileImage, jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != ''">
            , password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <!--  회원 탈퇴  -->
    <update id="updateIsDeleted">
        UPDATE users
        SET is_deleted = 'Y'
        WHERE id = #{id}
    </update>

</mapper>